body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f0f0f0;
  }

  header {
    background-color: #ffa07a;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-bottom: #ff5722;
    justify-content: center;
    width: 100%;
    
  }

  .container {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ffa07a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  footer {
    background-color: #ffa07a;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-style: solid;
    border-top: #ff5722;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
  }

  input[type="number"] {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #87cefa;
    border-style: solid;
    border-color: #2196f3;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    font-family: Preahvihear;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  p {
    color: #666666;
    margin-bottom: 10px;
  }

  #message {
    font-weight: bold;
    margin-top: 10px;
  }